body {
    margin: 0;
    background-color: rgb(38, 38, 38);
}

* {
    box-sizing: border-box;
    color: rgb(167, 167, 172);
}

/* For desktop: */
.container {
    width: 90%;
    margin: 0 auto;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
/* For desktop: */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile: */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* For desktop: */
[class*="col-"] {
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 20px rgb(0, 94, 255);
    border-radius: 10px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    nav li {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    nav ul {
        background-color: rgb(243, 251, 254);
    }
}

nav li a {
    color: rgb(255, 255, 255);
}

nav li:hover {
    background-color:  rgb(35, 193, 255);
    border-radius: 20px;
}

.text-right{
    text-align: right;
}

a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.py-3 {
    padding: 16px 0;
}
.px-3 {
    padding: 0 16px;
}
.p-3 {
    padding: 16px;
}

.bg-azul-o {
    background-color: rgb(0, 222, 185);
}
.bg-azul-c {
    background-color: rgb(240, 249, 252);
}
.bg-orange {
    background-color: orange;
}
.text-white {
    color: white;
}
.text-red {
    color: red;
    font-size: 30px;
    background-color: cyan;
}
footer h1 {
    border-bottom-left-radius: 10px;
}
footer h1 {
    border-bottom-right-radius: 10px;
}


#btnmenu {
    font-size: 40px;
    display: none;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    #btnmenu {
        display: inline;
    }
    #menu{
        display: none;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1000px)  {
    #menu{
        display: block;
    }
}

.etiqueta {
    color: red;
    font-size: 28px;
}

.atributo {
    color: green;
    font-size: 28px;
}

#listas .customdes li {
    list-style:lower-alpha;
}

.customdes{
    font-style: inherit;
}

#listas .listadefustcom dt{
    font-size: larger;
    background-color: aquamarine;
    
}

.tabla-3 th {
background-color: aquamarine;
}

.fila-rojo {
    background-color: red;
}

.fila-amarillo {
    background-color: yellow;
}

.izquierda{
    text-align: left;
}

.horario{
    width: 80%;
    margin: 0 auto;
}
.bordeblanco{
    background-color: white;
}
.bbdd{
    
    background-color: rgb(129, 255, 129);
}
.prog{
    background-color: rgb(100, 180, 239);
}
.ipe{
    background-color:rgb(254, 128, 129);
}
.pimd{
    background-color:rgb(253, 202, 150) ;
}
.ende{
    background-color: rgb(199, 161, 198);
}
.dasp{
    background-color: rgb(255, 255, 99);
}
.lsmg{
    background-color: rgb(210, 210, 110);
}
.sasp{
    background-color: rgb(40, 200, 200);
}
.sisi{
    background-color: rgb(101, 170, 151);
}
.ipcg{
    background-color: rgb(255, 163, 100);
}
.centrado{
    text-align: center;
}
.letra{
    font-style: normal;
    color:black;
}
.letra1{
    color:rgb(55, 113, 114);
    background-color: white;
}
.cursiva{
    font-style: italic ;
}
.dam{
    color: #3f828a;
    font-size: 24px;
    background-color: white;

}
.estrechar1{
    width: 200px;
}
legend{
    color: rgb(255, 72, 72);
}
.formlogin{
    float: left;
    width: 50%;
}
.cb{
    clear: both;
}
.formregister{
    float: right;
    width: 50%;
}
.formhtml5 {
    width: 50%;
    margin: 0 auto;
   
}
.formhtml5 legend {
    background-color: rgb(255, 102, 0);
    color: rgb(255, 255, 255);
    font-size: 22px;
}
.formhtml5 label {
    background-color: rgb(26, 254, 6);
    color: rgb(255, 89, 0);
    font-size: 16px;
}
.btn {
    border: 0;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 20px;
}
.btn-blue {
    background-color: rgb(16, 248, 217);
    color: white;
}
.btn-green {
    background-color: rgb(255, 0, 0);
    color: rgb(13, 255, 0);
}
.col3{
    width: 33.3%;
    float: left;
}
.col3 img{
padding: 4px;
}

video{
    display:block;
    width: 50%;
    margin: 0 auto;
}
audio{
    display:block;
    margin: 0 auto;
}

.titulo {
    color:rgb(213, 212, 212);
    text-shadow:
    0 0 10px rgba(0, 255, 187, 0.4) ,
    0 0 20px rgba(0, 255, 187, 0.5) ,
    0 0 30px rgba(0, 255, 187, 0.6) ,
    0 0 40px rgba(0, 255, 187, 0.7) ;
}
h1 {
    color:black;
    text-shadow:
    0 0 10px rgba(0, 255, 255, 0.4) ,
    0 0 20px rgba(0, 255, 255, 0.5) ,
    0 0 30px rgba(0, 255, 255, 0.6) ,
    0 0 40px rgba(0, 255, 255, 0.7) ;
}
h3 {
    text-align: center;
    color:black;
    text-shadow:
    0 0 5px rgba(246, 255, 0, 0.4) ,
    0 0 10px rgba(246, 255, 0, 0.5) ,
    0 0 20px rgba(246, 255, 0, 0.6) ,
    0 0 30px rgba(246, 255, 0, 0.7) ;
}